<%- include('./partials/top_header') %>
<link rel="stylesheet" href="/css/about.css" />
<%- include('./partials/bottom_header') %>
    <main>
        <div>
        <h2>
                About this Site
            </h2>
            <p>
                This site assists users in performing the following actions:
            </p>
            <ul>
                <li>
                    - Create a new connection between cybersecurity enthusiasts.
                </li>
                <li>
                    - View information about upcomign Workshops, keynotes, and meetups.
                </li>
                <li>
                    - Edit existing connections.
                </li>
            </ul>
        </div>
    </main>
    <%- include('./partials/footer') %>
    </body>
</html>

