<%- include('./partials/top_header') %>
<link rel="stylesheet" href="/css/contact.css" />
<%- include('./partials/bottom_header') %>
    <main>
        <div>
        <h2>Contact</h2>
        <br>
            <p>Phone: 704-567-2433</p>
            <p>Email: zpalko@uncc.edu</p>
            <p>Address: 9201 University City Blvd. Charlotte, NC 28223-0001</p>
        </div>
    </main>
    <%- include('./partials/footer') %>
    </body>
</html>

