<%- include('../partials/top_header') %>
<link rel="stylesheet" href="/css/connections.css"/>
<%- include('../partials/bottom_header') %> 
    <main>
      
      <form class="row g-3" action="/connections/newConnection" method="post">

        <div class="form-group col-md-6">
          <label for="name" class="col-sm-5 col-form-label">Name</label>
          <input
            class="form-control"
            type="text"
            id="name"
            name="name"
            placeholder="Name"
            minlength="2"
            required/>
        </div>

        <div class="form-group col-md-6">
          <label for="topic" class="col-sm-5 col-form-label">Topic</label>
          <input
            class="form-control"
            type="text"
            id="topic"
            name="topic"
            placeholder="Topic"
            minlength="2"
            required/>
        </div>

        <div class="form-group col-md-6">
          <label for="date" class="col-sm-5 col-form-label">Date</label>
          <input
            class="form-control"
            type="date"
            id="date"
            name="date"
            required/>
        </div>

        <div class="form-group col-md-6">
          <label for="start_time" class="col-sm-5 col-form-label">Start Time</label>
          <input
            class="form-control"
            type="time"
            id="start_time"
            name="start_time"
            required/>
        </div>

        <div class="form-group col-md-6">
          <label for="end_time" class="col-sm-5 col-form-label end-time">End Time</label>
          <input
            class="form-control"
            type="time"
            id="end_time"
            name="end_time"
            required/>
        </div>

        <div class="form-group col-md-6">
          <label for="location" class="col-sm-5 col-form-label end-time">Location</label>
          <input
            class="form-control"
            type="text"
            id="location"
            name="location"
            minlength="5"
            required/>
        </div>

        <div class="form-group col-md-6">
          <label for="image" class="col-sm-5 col-form-label">Image Url</label>
          <input
            class="form-control"
            type="url"
            id="image"
            name="image"
            required/>
        </div>

        <div>
          <label for="details" class="col-sm-5 col-form-label">Details</label>
          <textarea
            class="form-control"
            id="details"
            name="details"
            placeholder="Details"
            minlength="10"
            required></textarea>
        </div>

        <button class="btn btn-primary" id="create-connection">
          Create Connection
        </button>
      </form>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>