    <footer class="footer mt-auto">
      <div class="footer-links">
        <div class="left-links">
          <p>&#169; UNC Charlotte, Zachary Palko</p>
          <a href="/about">
            <p>ABOUT</p>
          </a>
          <a href="/contact">
            <p>CONTACT</p>
          </a>
        </div>
        <div class="right-links">
          <a href="https://mastodon.social/">
            <img src="/images/mastadoon.jpeg" alt="mastadoon" />
          </a>
          <a href="https://discord.com/">
            <img src="/images/discord.png" alt="discord" />
          </a>
        </div>
      </div>
    </footer>
    <script src="/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
