<%- include('../partials/top_header') %>
<link rel="stylesheet" href="/css/connections.css"/>
<%- include('../partials/bottom_header') %> 
<main>
  <form class="row" method="post">
    <div class="form-group">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email"  name="email" required>
    </div>
    <div class="form-group">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password" maxlength="64" minlength="8" required>
    </div>
    <span class="m-3"></span>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</main>
  <%- include('../partials/footer') %>
</body>
</html>
